* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 15%;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

h3 {
  color: #939fab;
  font-weight: 600;
}

form {
  margin-top: 6rem;

  .forgot-password-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    color: #4a4a4a;
  }

  app-button {
    display: block;
    margin-top: 3rem;
  }
}

.footer-text {
  text-align: center;
  font-size: 17px;
  margin-top: 50%;

  a {
    text-decoration: none;
    font-weight: 600;
    color: #fa578e;
  }
}
