<ion-content class="ion-padding">
  <h1>Welcome,</h1>
  <h3>Sign in to continue!</h3>

  <form>
    <app-input label="Email ID"></app-input>
    <app-input label="Password" type="password"></app-input>
    <a routerLink="#" class="forgot-password-link">Forgot Password?</a>

    <app-button label='Login'></app-button>
    <app-icon-button icon='logo-facebook' label='Connect with Facebook'></app-icon-button>
  </form>

  <p class="footer-text">I'm a new user, <a routerLink="#">Sign Up</a></p>
</ion-content>