<ion-content class="ion-padding">
  <h1>Create Account,</h1>
  <h3>Sign up to get started!</h3>

  <form>
    <app-input label="Full Name"></app-input>
    <app-input label="Email ID"></app-input>
    <app-input label="Password" type="password"></app-input>

    <app-button label='Register'></app-button>
    <app-icon-button icon='logo-facebook' label='Connect with Facebook'></app-icon-button>
  </form>

  <p class="footer-text">I'm already a member, <a routerLink="#">Sign In</a></p>
</ion-content>